* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/*************/
.circle {
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    background-color: tomato;
    position: fixed;
    z-index: 2;

    animation: circle 6000s linear;
    animation-play-state: paused;

    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes circle {
    0% {
        width: 10vw;
        height: 10vw;
    }
    30% {
        width: 20vw;
        height: 20vw;
        transform: translate(calc(100vw - 20vw), 20vh);
        background-color: lightyellow;
    }
    70% {
        width: 10vw;
        height: 10vw;
        transform: translate(0, 0);
        background-color: lightskyblue;
    }
    100% {
        width: 50vw;
        height: 50vw;
        transform: translate(calc(100vw - 75vw), calc(100vh - 25vw));
        background-color: lightgreen;
    }
}
/*************/

/*************/
.one {
    height: 100vh;
    overflow: hidden;
}

.one:before {
    content: '';
    background-color: lavender;
    width: 100%;
    height: 100%;
    display: block;
}

.one.active::before {
    animation: 1s linear one;
}

@keyframes one {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}
/*************/

/*************/
.two {
    background-color: lightblue;
    height: 20vh;
    transition: transform 1s ease;
}
/*************/


/*************/
.three {
    background-color: lightgray;
    height: 30vh;
    transform: translateX(100%);
}

.three.active {
    transition: 1s ease;
    transform: translateX(0);
}
/*************/


/*************/
.four {
    background-color: lightcoral;
    height: 50vh;
    padding: 2rem;
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    gap: 2rem;
}

.article {
    background-color: lightpink;
    padding: 2rem;
    width: 100%;
    min-height: 200px;
}

.article h2 {
    color: white;
}

.four.active .article {
    animation: 1s linear four;
}

@keyframes four {
    from {
        opacity: 0;
        transform: translateY(50%);

    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/*************/


/*************/
.five {
    background-color: lightpink;
    height: 100vh;
    transition: transform 1s ease;
}
/*************/

/*************/
.six {
    height: 20vh;
    overflow: hidden;
}

.six:before {
    content: '';
    background-color: lightseagreen;
    width: 100%;
    height: 100%;
    display: block;
}

.six.active::before {
    animation: 1s linear six;
}

@keyframes six {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}
/*************/
